<!DOCTYPE HTML>
<html>
    <head>
        <title>Tic-Tac-Toe AI</title>
        <link rel = 'stylesheet' type = 'text/css' href = 'styles/ui.css'>
    </head>

    <body ng-app="App">
        
        <div class = 'main-container'>
            
            <div class = 'board'>
                <!-- data-indx following cell divs represents cell index in 1D array representation -->
                <div class='cell' data-indx = "0" ></div>
                <div class='cell' data-indx = "1" ></div>
                <div class='cell' data-indx = "2" ></div>
                <div class='cell' data-indx = "3" ></div>
                <div class='cell' data-indx = "4" ></div>
                <div class='cell' data-indx = "5" ></div>
                <div class='cell' data-indx = "6" ></div>
                <div class='cell' data-indx = "7" ></div>
                <div class='cell' data-indx = "8" ></div>
            </div>

            <div class = 'control'>
                <!-- div.intial displays the starting controls -->
                
                <div class='intial' ng-controller='StartController as startCtrl'>
                    <div class = 'difficulty'>
                        <span id='blind'
                            class='level not-selected' 
                            ng-click='startCtrl.vm.setDifficulty("blind")' 
                            ng-class='{"selected": startCtrl.vm.isBlind, "not-selected": !startCtrl.vm.isBlind }'>
                            Blind
                        </span>
                        <span class='level not-selected' id='novice' 
                            ng-click='startCtrl.vm.setDifficulty("novice")'
                            ng-class='{"selected": startCtrl.vm.isNovice, "not-selected": !startCtrl.vm.isNovice }'>
                            Novice
                        </span>
                        <span class='level not-selected' id='master' 
                            ng-click='startCtrl.vm.setDifficulty("master")'
                            ng-class='{"selected": startCtrl.vm.isMaster, "not-selected": !startCtrl.vm.isMaster }'>
                            Master!
                        </span>
                    </div>
                    
                    <div class='start' ng-click='startCtrl.startGame()'>Start</div>
                </div>

                <!-- div.ingame displays in-game messages and controls -->
                <div class = 'ingame' id="human" ng-show='mainCtrl.gameStatusVm.isHuman'>It's your turn ...</div>
                <div class = 'ingame' id="ai" ng-show='currentView === "ai"'>
                    <img src = "imgs/robot.png" id = "robot" class = "robot" />
                    <p>Wait for it ...</p>
                </div>
                <div class = 'ingame' id="won" ng-show='mainCtrl.gameStatusVm.isWon'>You won !</div>
                <div class = 'ingame' id="lost" ng-show='mainCtrl.gameStatusVm.isLost'>You lost !</div>
                <div class = 'ingame' id="draw" ng-show='mainCtrl.gameStatusVm.isDraw'>It's a Draw</div>
            </div>
        </div>

        <script src = "build/bundle.js"></script>
    </body>
</html>
